@font-face {
  font-family: HeeboRegular;
  src: url('/fonts/Heebo-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: HeroText;
  src: url('/fonts/GTSectraDisplay-Bold.woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root {
  width: 100%;
  background-color: #16171c;
  color: whitesmoke;
}

main{
  position: relative;
}


section{
  min-height: 100vh;
  border: 0.125rem solid white;
  position: relative;
  z-index: 2;
}

#section1 {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3rem ;
    
    svg{
      fill: white;
      height: 1.875rem;
    }
    .nav-elem{
      max-width: 10rem;
      font-family: 'HeeboRegular';
      font-size: 0.813rem;
      font-weight: 500;
    }

    .nav-elem:nth-child(2){
      i{
        color: #fd4a41;
        display: inline-block;
        font-weight: bold;
        font-size: 0.938rem;
        margin-right: 0.625rem;
        transform: translateX(0);
        transition: transform 150ms ease-in-out;
      }
      &:hover i{
        transform: translateX(0.313rem);
      }
    }

    .nav-elem:nth-child(3){
      i{
        font-size: 1.25rem;
      }
    }

  }

  .middle{
    display: flex;

    .left, .right{
      width: 50%
    }

    .left{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-block: 5rem;

      h1{
        font-family: 'HeroText';
        font-size: 7.5rem;
        letter-spacing: -0.35rem;
        line-height: 0.8;
        direction: rtl;
        color: whitesmoke;
      }
    }
  }
}